.build_calculator_main_container {
  height: 55.75vh;
  width: 21vw;
  position: absolute;
  top: 43.75vh;
  left: 78.75vw;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"] {
  accent-color: #fdc89d;
}

.build_cost_main_container,
.upkeep_cost_main_container,
.component_cost_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.build_cost_main_container {
  height: 37.5%;
}

.upkeep_cost_main_container {
  height: 30%;
}

.component_cost_content {
  height: 30%;
}

.build_cost_title,
.build_cost_misc_button,
.upkeep_cost_title,
.components_cost_title {
  text-align: center;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.build_cost_content_container,
.upkeep_cost_content_container,
.components_cost_content_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(3px);
}

.build_cost_content,
.upkeep_cost_content,
.components_cost_content {
  height: 100%;
  width: 25%;
  border: 1px black solid;
}

.build_cost_content_thumbnail,
.upkeep_cost_content_thumbnail,
.components_cost_content_thumbnail {
  width: 100%;
  height: 75%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.build_cost_content_description,
.build_cost_content_amount,
.upkeep_cost_content_description,
.upkeep_cost_content_amount,
.components_cost_content_description,
.components_cost_content_amount {
  background-color: black;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  height: 12.5%;
}
