.camera_switch_button {
  width: 7.5vw;
  height: 10vh;
  position: absolute;
  top: 6.75vh;
  left: 90%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: none;
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  transition: transform 0.1s;
}

.camera_text {
  padding-top: 10vh;
}

.camera_switch_button:hover {
  transform: scale(1.05);
}

.camera_button_switch {
  width: 3vw;
  height: 4.5vh;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: transform 0.1s;
}

.camera_button_switch:hover {
  transform: scale(1.1);
}

.switch_top {
  top: 2vh;
  left: 92.25vw;
}

.switch_right {
  top: 9.25vh;
  left: 96vw;
}

.switch_left {
  top: 9.25vh;
  left: 88.5vw;
}

.camera_3d_reset {
  width: 3.5vw;
  height: 5.75vh;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: transform 0.1s;
  top: 2vh;
  left: 96vw;
}

.camera_3d_reset:hover {
  transform: scale(1.1);
}

.camera_reset_text {
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding-top: 0.75vh;
}

.reset_text_white {
  color: #bbbbbb;
}

.reset_text_black {
  color: rgba(255, 255, 255, 0.1);
}
