.canvas_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(37, 37, 37);
}

.canvas_model_list_element {
  color: #bbbbbb;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 5px 0;
}

.object_elevation_container_description,
.object_mirror_container_description {
  position: absolute;
  width: 11vw;
  height: 3vh;
  z-index: 40;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.object_mirror_container_description {
  top: 66vh;
  left: 19.5vw;
}
.object_elevation_container_description {
  top: 75vh;
  left: 21.25vw;
}

.object_elevation_container,
.object_mirror_container {
  position: absolute;
  left: 23.25vw;
  height: 4vh;
  z-index: 45;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(2px);
}

.object_mirror_container {
  top: 69vh;
  width: 5.5vw;
}
.object_elevation_container {
  top: 78vh;
  width: 8vw;
}

.elevation_button,
.mirror_button {
  width: 33%;
  height: 100%;
  background-color: rgba(120, 120, 120, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.mirror_button {
  width: 50%;
}

.elevation_button {
  width: 33%;
}

.elevation_button_left,
.mirror_button_left {
  border-radius: 1vh 0 0 1vh;
}

.elevation_button_right,
.mirror_button_right {
  border-radius: 0 1vh 1vh 0;
}

.elevation_input_field {
  width: 33%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: #ffd5b3;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pivot_controls_container_description {
  position: absolute;
  left: 22.75vw;
  width: 9vw;
  height: 2vh;
  top: 84.25vh;
  z-index: 45;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.pivot_controls_container {
  position: absolute;
  left: 23.25vw;
  width: 8vw;
  height: 4vh;
  top: 87vh;
  background-color: transparent;
  z-index: 40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.pivot_controls_button {
  all: unset;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: rgba(120, 120, 120, 0.5);
}

.pivot_controls_button_active {
  background-color: #bbbbbb;
}

.pivot_controls_button_enabled,
.symmetry_button_enabled {
  background-color: #ffd5b3;
}

.pivot_controls_left {
  border-radius: 1vh 0 0 1vh;
}

.pivot_controls_right {
  border-radius: 0 1vh 1vh 0;
}

.offset_container_main {
  position: absolute;
  width: 12.5vw;
  height: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  top: 19%;
  z-index: 55;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.offset_container_sub {
  width: 50%;
  height: 100%;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/* delete storage data / delete canvas models */

.local_storage_container {
  position: absolute;
  width: 5.75vw;
  height: 6.25vh;
  z-index: 55;
  left: 72.85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 1.5vh;
}

.local_storage_button_container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.local_storage_button {
  width: 100%;
  height: 75%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

.local_storage_button_text {
  width: 100%;
  height: 25%;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
}

.fa-floppy-disk,
.fa-trash-can,
.fa-eraser,
.fa-dumpster {
  color: #bbbbbb;
}

.fa-floppy-disk:hover,
.fa-trash-can:hover,
.fa-dumpster:hover {
  color: #ffd5b3;
}

.delete_canvas_models_main_container {
  width: 13.5vw;
  height: 8vh;
  position: absolute;
  z-index: 20;
  left: 86.25vw;
  top: 24vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.erase_canvas_models_button_container,
.delete_all_canvas_models_button_container {
  width: 48.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.erase_canvas_models_button,
.delete_all_canvas_models_button {
  width: 47.5%;
  height: 80%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 0, 0, 0);
}

.erase_canvas_models_button_description,
.delete_all_canvas_models_button_description {
  height: 20%;
  width: 100%;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
}

.delete_all_models_question_main_container,
.delete_saved_data_question_main_container {
  width: 25vw;
  height: 15vh;
  position: absolute;
  z-index: 45;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: #bbbbbb;
  font-size: 1.2vw;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete_all_models_question_description,
.delete_saved_data_question_description {
  width: 100%;
  height: 70%;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete_all_models_answer_container,
.delete_saved_data_answer_container {
  width: 100%;
  height: 30%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.delete_all_models_answer_button,
.delete_saved_data_answer_button {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete_all_models_answer_button:hover,
.delete_saved_data_answer_button:hover {
  color: #ffd5b3;
}

/* model annotation */

.main_annotation_container {
  position: absolute;
  top: -17.5vh;
  left: 2.5vw;
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
}

.annotation_content_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 16, 26, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px 0px rgb(0, 0, 0);
}

.annotation_model_name {
  width: 100%;
  height: 30%;
  color: #bbbbbb;
  font-size: 0.6vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.annotation_buttons_container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.annotation_button {
  width: 23.5%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px black solid;
}

.annotation_button_disabled {
  background: repeating-linear-gradient(45deg, transparent 5px, transparent 10px, #3b3b3b 0px, #3b3b3b 15px);
}

.annotation_button_icons_container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.annotation_button_description {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 0.45vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: black;
  border-radius: 0 0 5px 5px;
}

.annotation_polyline_container {
  pointer-events: none;
  position: absolute;
  width: 145%;
  height: 70%;
  position: absolute;
  bottom: 0;
  top: 10vh;
  left: -4.5vw;
}

.annotation_line {
  width: 100%;
  height: 100%;
}

.test_button {
  position: absolute;
  width: 2vw;
  height: 1vh;
  background-color: red;
  z-index: 125;
  top: 98%;
  left: 35%;
}
