.canvas_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(37, 37, 37);
}

.canvas_models_list_container {
  width: 18.5vw;
  height: 27.5vh;
  position: absolute;
  top: 72.5vh;
  z-index: 5;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
  overflow-x: auto;
  font-size: 0.9vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas_models_list_title {
  position: absolute;
  z-index: 10;
  width: 18.5vw;
  background-color: black;
  color: #bbbbbb;
  font-size: 0.8vw;
  top: 70.5vh;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.canvas_model_list_element {
  color: #bbbbbb;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 5px 0;
}

.object_elevation_container_description,
.object_mirror_container_description {
  position: absolute;
  width: 11vw;
  height: 3vh;
  z-index: 40;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.object_mirror_container_description {
  top: 62vh;
  left: 20vw;
}
.object_elevation_container_description {
  top: 72vh;
  left: 21.5vw;
}

.object_elevation_container,
.object_mirror_container {
  position: absolute;
  left: 23vw;
  height: 4vh;
  z-index: 45;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(2px);
}

.object_mirror_container {
  top: 65vh;
  width: 5.5vw;
}
.object_elevation_container {
  top: 75vh;
  width: 8vw;
}

.elevation_button,
.mirror_button {
  width: 33%;
  height: 100%;
  background-color: rgba(120, 120, 120, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.mirror_button {
  width: 50%;
}

.elevation_button {
  width: 33%;
}

.elevation_button_left,
.mirror_button_left {
  border-radius: 1vh 0 0 1vh;
}

.elevation_button_right,
.mirror_button_right {
  border-radius: 0 1vh 1vh 0;
}

.elevation_input_field {
  width: 33%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: #ffd5b3;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pivot_controls_container_description {
  position: absolute;
  left: 22.75vw;
  width: 9vw;
  height: 2vh;
  top: 82vh;
  z-index: 45;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.pivot_controls_container {
  position: absolute;
  left: 23vw;
  width: 8vw;
  height: 4vh;
  top: 84.5vh;
  background-color: transparent;
  z-index: 40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.pivot_controls_button {
  all: unset;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: rgba(120, 120, 120, 0.5);
}

.pivot_controls_button_active {
  background-color: #bbbbbb;
}

.pivot_controls_button_enabled,
.symmetry_button_enabled {
  background-color: #ffd5b3;
}

.pivot_controls_left {
  border-radius: 1vh 0 0 1vh;
}

.pivot_controls_right {
  border-radius: 0 1vh 1vh 0;
}

.offset_container_main {
  position: absolute;
  width: 12.5vw;
  height: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  top: 19%;
  z-index: 55;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.offset_container_sub {
  width: 50%;
  height: 100%;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.local_storage_container {
  position: absolute;
  width: 5.25vw;
  height: 7vh;
  z-index: 55;
  background-color: rgba(255, 0, 0, 0);
  left: 72.85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 1.5vh;
}

.local_storage_button {
  width: 50%;
  border: none;
  background: rgba(0, 0, 0, 0);
}

.local_storage_button_text {
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.test_button {
  position: absolute;
  width: 2vw;
  height: 1vh;
  background-color: red;
  z-index: 125;
  top: 98%;
  left: 35%;
}
