.object_rotation_container {
  width: 10vw;
  height: 7vh;
  position: absolute;
  left: 45%;
  top: 83.5%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rotation_left,
.rotation_right {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 0.75vh;
}

.model_rotation_wheel {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  text-align: center;
  padding: 0.5vh;
}

.model_rotation_previous,
.model_rotation_next {
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: rgba(191, 191, 191, 0.5);
}

.rotation_change_button {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #ffd5b3;
  border: none;
  text-align: center;
}

.camera_direction_indicator {
  width: 3vw;
  height: 2vh;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
}

.indicator_top {
  left: 48.5%;
  top: 76%;
}

.indicator_right {
  left: 57%;
  top: 86%;
}

.indicator_bottom {
  left: 48.5%;
  top: 95%;
}

.indicator_left {
  left: 40%;
  top: 86%;
}

.object_move_button:hover,
.rotation_left:hover,
.rotation_right:hover,
.rotation_change_button:hover,
.remove_selected_model:hover,
.remove_all_models:hover {
  transform: scale(1.2);
}

.object_move_button {
  width: 3%;
  height: 5%;
  border: none;
  position: absolute;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0);
}

.object_move_front_button {
  left: 48.5%;
  top: 77.5%;
}

.object_move_right_button {
  left: 55%;
  top: 84.5%;
}

.object_move_back_button {
  left: 48.5%;
  top: 90.5%;
}

.object_move_left_button {
  left: 42%;
  top: 84.5%;
}

.object_move_up_button {
  left: 43.5%;
  top: 78%;
}

.object_move_down_button {
  left: 43.5%;
  top: 91%;
}

.distance_unit_description {
  width: 12vw;
  height: 5vh;
  position: absolute;
  z-index: 55;
  left: 57%;
  top: 90%;
  background-color: transparent;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

.change_distance_unit_container {
  width: 12vw;
  height: 4vh;
  position: absolute;
  z-index: 55;
  left: 55%;
  top: 92.5%;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
}

.object_movement_multiplier {
  width: 30%;
  height: 100%;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.movement_multiplier_left {
  border-radius: 1vh 0 0 1vh;
}

.movement_multiplier_right {
  border-radius: 0 1vh 1vh 0;
}

.multiplier_active {
  background-color: #ffd5b3;
}

.multiplier_inactive {
  background-color: rgba(120, 120, 120, 0.5);
}

.remove_all_models {
  width: 7.5vw;
  height: 5vh;
  position: absolute;
  top: 92.25vh;
  left: 66.5vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.remove_selected_model {
  position: absolute;
  width: 2vw;
  height: 5vh;
  left: 74vw;
  top: 92.25vh;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 15;
}
