.object_rotation_container {
  width: 10vw;
  height: 8.5vh;
  position: absolute;
  left: 45.1%;
  top: 82.5%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rotation_direction_button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 40%;
  height: 95%;
  display: flex;
  justify-content: center;
  margin: 0.75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  text-align: center;
}

.model_rotation_wheel {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  text-align: center;
  padding: 0.5vh;
}

.model_rotation_button {
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: rgba(191, 191, 191, 0.5);
}

.rotation_change_button {
  background-color: rgba(252, 0, 0, 0);
  width: 4vw;
  font-size: 1.4vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #ffd5b3;
  border: none;
  text-align: center;
}

.camera_direction_indicator {
  width: 3vw;
  height: 2vh;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
}

.indicator_top {
  left: 48.5%;
  top: 74.75%;
}

.indicator_right {
  left: 57.5%;
  top: 85.5%;
}

.indicator_bottom {
  left: 48.5%;
  top: 96%;
}

.indicator_left {
  left: 39.75%;
  top: 85.5%;
}

.object_move_button:hover,
.rotation_left:hover,
.rotation_right:hover,
.rotation_change_button:hover,
.rotation_direction_button:hover {
  transform: scale(1.2);
}

.object_move_button {
  width: 3%;
  height: 5%;
  border: none;
  position: absolute;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0);
}

.object_move_front_button {
  left: 48.5%;
  top: 76.75%;
}

.object_move_right_button {
  left: 55%;
  top: 84.25%;
}

.object_move_back_button {
  left: 48.5%;
  top: 91.5%;
}

.object_move_left_button {
  left: 42%;
  top: 84.25%;
}

.object_move_up_button {
  left: 40%;
  top: 74.5%;
  height: 7.5%;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  text-align: center;
}

.object_move_down_button {
  left: 40%;
  top: 91%;
  height: 7.5%;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  text-align: center;
}

.distance_unit_main_container {
  width: 15vw;
  height: 8vh;
  background-color: transparent;
  position: absolute;
  z-index: 40;
  left: 23.25vw;
  top: 91.5vh;
  display: flex;
  flex-direction: column;
}

.distance_unit_description_main_container {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.distance_unit_description {
  width: 50%;
  height: 100%;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.change_distance_unit_container {
  width: 100%;
  height: 50%;
  background-color: transparent;
  display: flex;
  backdrop-filter: blur(2px);
}

.object_movement_multiplier {
  width: 25%;
  height: 100%;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
}

.movement_multiplier_left {
  border-radius: 1vh 0 0 1vh;
}

.movement_multiplier_middle {
  border-radius: 0;
}

.movement_multiplier_right {
  border-radius: 0 1vh 1vh 0;
}

.movement_multiplier_top_right {
  border-radius: 0 1vh 0 0;
}

.movement_multiplier_bottom_right {
  border-radius: 0 0 1vh 0;
}

.multiplier_active {
  background-color: #ffd5b3;
}

.custom_distance_hidden {
  display: none;
}

.multiplier_inactive {
  background-color: rgba(120, 120, 120, 0.5);
}
