.github {
  position: absolute;
  width: 2vw;
  height: 5vh;
  z-index: 45;
  left: 82.5vw;
  top: 2.5vh;
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.github_text {
  color: #bbbbbb;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 0.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-github {
  color: #bbbbbb;
}

.fa-github:hover {
  color: #ffd5b3;
}
