.github {
  position: absolute;
  width: 3vw;
  height: 6.5vh;
  z-index: 45;
  left: 84vw;
  top: 1.5vh;
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.github_text {
  color: #bbbbbb;
  font-size: 0.6vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-github {
  color: #bbbbbb;
}

.fa-github:hover {
  color: #ffd5b3;
}
