.hint_container_bottom {
  position: absolute;
  z-index: 20;
  width: 50vw;
  height: 4vh;
  left: 25vw;
  top: 15vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.hint_default_3d,
.hint_default_2d,
.hint_object_selected,
.hint_creaton_state {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  height: 100%;
}

.hint_default_3d {
  width: 70%;
}

.hint_default_2d {
  width: 50%;
}

.hint_object_selected {
  width: 71%;
}

.hint_creaton_state {
  width: 67.5%;
}

.hint_part {
  margin: auto;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  color: rgb(106, 106, 106);
  text-align: center;
}
