.mobile_alert_container {
  width: 200%;
  height: 200%;
  z-index: 999;
  position: absolute;
  top: 0vh;
  left: 0vh;
  background-color: rgba(15, 16, 26, 0.6);
  backdrop-filter: blur(4px);
}

.mobile_alert_text {
  margin-top: 25vh;
  color: #bbbbbb;
  font-size: 3.5vw;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
  width: 70vw;
  margin-left: 15vw;
  height: 6vh;
  line-height: 1.4;
}

.mobile_alert_confirm {
  color: #bbbbbb;
  font-size: 4vw;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  width: 40vw;
  margin-left: 30vw;
  height: 5vh;
  border: none;
  text-decoration: underline;
}
