.objects_container {
  width: 25vw;
  height: 100vh;
  position: absolute;
  top: 0vh;
  left: 0vw;
  z-index: 10;
  background-color: rgb(65, 65, 65);
  transition: transform 0.1s ease-in-out;
}

.objects_container_displayed {
  transform: translateX(0);
}

.objects_container_hidden {
  transform: translateX(-110%);
}

.search_bar {
  width: 50%;
  height: 2.5%;
  position: absolute;
  left: 25%;
  top: 14%;
  text-align: center;
  color: black;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.object_list {
  width: 95%;
  height: 80%;
  position: absolute;
  top: 17%;
  left: 0%;
  background-color: rgb(155, 64, 64);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: 1vh;
  grid-auto-rows: 15vh;
  overflow-y: auto;
  margin: 1vh;
}

.object {
  width: 100%;
  height: 15vh;
  margin-bottom: 1vh;
  word-wrap: break-word;
  background-size: cover;
  background-position: center;
  padding-top: 73%;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
}

.object_list_description {
  width: 109%;
  height: 100%;
  margin-left: -0.625vh;
  margin-top: 0.3vh;
  color: #bbbbbb;
  background-color: black;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.object_deselected {
  background-color: rgba(15, 16, 26, 0.4);
}

.object_selected {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
