.main_prebuilt_bases_design_navbar_container {
  position: absolute;
  z-index: 65;
  width: 16vw;
  height: 2vw;
  top: 0.5vh;
  left: 22.85vw;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
  text-align: center;
  color: #bbbbbb;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}

.main_prebuilt_bases_design_navbar_container_displayed {
  transform: translateY(0);
}

.main_prebuilt_bases_design_navbar_container_hidden {
  transform: translateY(-120%);
}

.prebuilt_bases_design_icons_container {
  width: 22.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.main_prebuilt_bases_design_list_container {
  position: absolute;
  z-index: 1;
  width: 16vw;
  height: 19vw;
  top: 5.5vh;
  left: 22.85vw;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
  border: solid black 1px;
  transition: transform 0.15s ease-in-out;
}

.main_prebuilt_bases_design_list_container_displayed {
  transform: translateY(0);
}

.main_prebuilt_bases_design_list_container_hidden {
  transform: translateY(-150%);
}

.prebult_bases_design_type_container {
  margin-top: 0.5vh;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}

.prebuilt_bases_design_type_container_cell {
  width: 24%;
  height: 11vh;
  background-color: black;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding: 0.1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.prebuilt_bases_design_type_buttons {
  width: 97.5%;
  height: 8.5vh;
  background-color: #000000;
  border: solid black 1px;
  margin-top: 0.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prebuilt_bases_design_type_buttons_disabled {
  width: 97.5%;
  height: 8.5vh;
  background: repeating-linear-gradient(
    45deg,
    transparent -8.5px,
    transparent 6px,
    rgba(105, 105, 105, 0.3) 0px,
    rgba(105, 105, 105, 0.3) 15px
  );
  border: solid black 1px;
  margin-top: 0.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type_buttons_active {
  background-color: #ffd5b3;
  color: #000000;
}

.type_buttons_inactive {
  background-color: #bbbbbb;
  color: #000000;
}

.prebuilt_bases_design_list {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base_design_button {
  width: 96.5%;
  height: 4vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.base_design_button_selected {
  color: #ffd5b3;
}

.base_design_button_deselected {
  color: #bbbbbb;
}

.base_design_button_disabled {
  background: repeating-linear-gradient(
    45deg,
    transparent -8.5px,
    transparent 6px,
    rgba(105, 105, 105, 0.3) 0px,
    rgba(105, 105, 105, 0.3) 15px
  );

  width: 96.5%;
  height: 4vh;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: none;
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.base_name {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base_group_size_indicator {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
