.presets_container {
  width: 17.5vw;
  height: 8.5vh;
  position: absolute;
  top: 1.25vh;
  left: 70vw;
  z-index: 5;
  display: flex;
  justify-content: space-around;
}

.preset {
  height: 100%;
  width: 17.5%;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.preset_button {
  height: 85%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
}

.preset_inactive {
  color: rgba(255, 255, 255, 0.1);
}
