.raid_type_name {
  position: absolute;
  position: absolute;
  width: 30vw;
  height: 2.5vh;
  top: 81.5vh;
  left: 35vw;
  z-index: 40;
  background-color: black;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.raid_type_description {
  position: absolute;
  position: absolute;
  width: 30vw;
  height: 2.5vh;
  top: 96.5vh;
  left: 35vw;
  z-index: 40;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.raid_type_description_cell {
  text-align: center;
  width: 20%;
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.raid_type_main_container {
  position: absolute;
  width: 30vw;
  height: 11.5vh;
  top: 84vh;
  left: 35vw;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  z-index: 40;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.raid_type_button {
  height: 107.5%;
  width: 20%;
  background-color: rgba(0, 128, 0, 0);
  border: 1px black solid;
}

.raid_type_button_active {
  background-color: rgb(201, 201, 201);
}

.raid_type_button_inactive {
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
}

.raid_reset_button {
  position: absolute;
  width: 3vw;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0);
  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  z-index: 40;
  top: 91.5vh;
  left: 70.5vw;
}

.raid_reset_button_descripton {
  position: absolute;
  width: 5vw;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
  z-index: 40;
  top: 97vh;
  left: 69.5vw;
}
