.main_container {
  width: 20vw;
  position: absolute;
  left: 79.5vw;
  z-index: 10;
  color: #bbbbbb;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(3px);
  height: 15vh;
}

.build_cost_main_container {
  top: 53vh;
}

.upkeep_cost_main_container {
  top: 68.5vh;
}

.components_cost_main_container {
  top: 84vh;
}

.misc_cost_checkbox {
  position: absolute;
  width: 20vw;
  height: 2.4vh;
  background-color: black;
  top: 51vh;
  left: 79.5vw;
  color: #bbbbbb;
  font-size: 0.8vw;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  z-index: 40;
}

.misc_count_description {
  height: 15%;
  background-color: black;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.misc_count_description label {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  accent-color: #fdc89d;
}

.cost_description {
  width: 100%;
  height: 15%;
  background-color: black;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.build_cost_container,
.upkeep_cost_container,
.misc_cost_container_a,
.misc_cost_container_b {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.wood_container,
.stone_container,
.metal_container,
.hq_metal_container,
.scrap_container,
.gears_container,
.sewing_kit_container,
.lq_fuel_container {
  width: 25%;
  height: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6vh;
  border: black 1px solid;
}

.cost_cell {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.build_cost_display {
  position: absolute;
  background-color: black;
  width: 25%;
  height: 20%;
  top: 79%;
  color: #bbbbbb;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
