.main_container {
  width: 20vw;
  height: 15vh;
  position: absolute;
  left: 79.5vw;
  z-index: 10;
  color: #bbbbbb;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(3px);
}

.build_cost_main_container {
  top: 52.5vh;
}

.upkeep_cost_main_container {
  top: 68.25vh;
}

.main_misc_cost_container {
  top: 84vh;
}

.cost_description {
  width: 100%;
  height: 15%;
  background-color: black;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.build_cost_container,
.upkeep_cost_container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.build_cost_wood_container,
.build_cost_stone_container,
.build_cost_metal_container,
.build_cost_hq_metal_container {
  width: 25%;
  height: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6vh;
  border: black 1px solid;
}

.cost_cell {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.build_cost_display {
  position: absolute;
  background-color: black;
  width: 25%;
  height: 20%;
  top: 79%;
  color: #bbbbbb;
  font-size: 0.65vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.misc_cost_container {
  width: 100%;
  height: 42.5%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5vh;
}
