.resources_container {
  width: 20vw;
  height: 40vh;
  position: absolute;
  top: 58.5vh;
  left: 79vw;
  z-index: 10;
  color: #bbbbbb;
  background-color: black;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.build_cost_container,
.upkeep_cost_container {
  width: 100%;
  height: 75%;
  background-color: rgb(137, 137, 137);
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.misc_cost_container {
  width: 100%;
  height: 30%;
  background-color: rgb(137, 137, 137);
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.build_cost_wood,
.build_cost_stone,
.build_cost_metal,
.build_cost_hq_metal,
.upkeep_cost_wood,
.upkeep_cost_stone,
.upkeep_cost_metal,
.upkeep_cost_hq_metal,
.build_cost_scrap,
.build_cost_gear,
.build_cost_sewing_kit,
.build_cost_lg_fuel {
  width: 25%;
  height: 80%;
  background-color: rgb(137, 137, 137);
}
