.settings_container {
  width: 32%;
  height: 80%;
  position: absolute;
  left: 34vw;
  top: 20vh;
  z-index: 55;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(4px);
  transition: transform 0.1s ease-in-out;
  overflow-y: auto;
}

.settings_container_displayed {
  transform: translateX(0);
}

.settings_container_hidden {
  transform: translateY(100%);
}

.settings_segment_title {
  height: 3vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #bbbbbb;
  font-size: 1.15vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings_element {
  width: 95%;
  height: 5vh;
  display: flex;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 2.5%;
}

.settings_element_description {
  width: 55%;
  height: 80%;
  color: #bbbbbb;
  font-size: 0.875vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings_element_buttons_container {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings_element_buttons {
  width: 50%;
  height: 100%;
  color: #bbbbbb;
  font-size: 0.875vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings_element_buttons_enable {
  background-color: #ffd5b3;
  color: black;
}

.settings_element_buttons_disable {
  background-color: rgb(73, 73, 73);
  color: rgb(169, 169, 169);
}

.settings_element_buttons_left {
  border-radius: 1vh 0 0 1vh;
}

.settings_element_buttons_right {
  border-radius: 0 1vh 1vh 0;
}

.settings_button_container {
  width: 4vw;
  height: 7.5vh;
  position: absolute;
  top: 2.5vh;
  left: 63.5vw;
  z-index: 25;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls_button_container {
  width: 4vw;
  height: 7.5vh;
  position: absolute;
  top: 2.5vh;
  left: 34vw;
  z-index: 25;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings_button {
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
}
