.settings_and_controls_main_container {
  position: absolute;
  width: 8.5vw;
  height: 8.5vh;
  z-index: 55;
  left: 62.85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 0.75vh;
}

.settings_main_containter,
.controls_main_containter {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_main_containter_button,
.controls_main_containter_button {
  width: 100%;
  height: 80%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.settings_main_containter_description,
.controls_main_containter_description {
  width: 100%;
  height: 20%;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
}

.settings_button_thumbnail,
.controls_button_thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  margin: 0;
  padding: 0;
}

.settings_container,
.controls_container {
  width: 32%;
  height: 80%;
  position: absolute;
  left: 34vw;
  top: 20vh;
  z-index: 55;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(4px);
  transition: transform 0.1s ease-in-out;
  overflow-y: auto;
}

.settings_container_displayed,
.controls_container_displayed {
  transform: translateX(0);
}

.settings_container_hidden,
.controls_container_hidden {
  transform: translateY(130%);
}

.settings_and_controls_segment_title {
  height: 3vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #bbbbbb;
  font-size: 1.15vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings_segment_container,
.controls_segment_container {
  width: 95%;
  height: 5vh;
  display: flex;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin-left: 2.5%;
}

.settings_segment_type,
.controls_segment_type {
  width: 55%;
  height: 80%;
  color: #bbbbbb;
  font-size: 0.875vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings_segment_buttons_container {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings_element_buttons {
  width: 50%;
  height: 100%;
  color: #bbbbbb;
  font-size: 0.875vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings_element_buttons_enable {
  background-color: #ffd5b3;
  color: black;
}

.settings_element_buttons_disable {
  background-color: rgb(73, 73, 73);
  color: rgb(169, 169, 169);
}

.settings_element_buttons_left {
  border-radius: 1vh 0 0 1vh;
}

.settings_element_buttons_right {
  border-radius: 0 1vh 1vh 0;
}

.controls_segment_description {
  width: 50%;
  height: 100%;
  color: #ffd5b3;
  font-size: 0.875vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
