.settings_container {
  width: 32vw;
  height: 100vh;
  position: absolute;
  left: 68vw;
  z-index: 35;
  background-color: rgb(131, 131, 131);
  transition: transform 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.settings_container_displayed {
  transform: translateX(0);
}

.settings_container_hidden {
  transform: translateX(100%);
}

.settings_segment_title {
  height: 5%;
  width: 100%;
  background-color: rgb(197, 125, 125);
}

.settings_segment {
  background-color: rgb(90, 90, 152);
  width: 100%;
}

.settings_ui_segment {
  height: 40%;
}

.settings_performance_segment {
  height: 30%;
}

.settings_element {
  width: 95%;
  background-color: green;
  height: 5vh;
  display: flex;
  margin: 1vh;
  flex-direction: row;
}

.settings_element_buttons_container {
  width: 40%;
  height: 80%;
  background-color: pink;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.settings_element_buttons {
  width: 45%;
  height: 100%;
  background-color: rgb(153, 153, 255);
}

.settings_button_container {
  width: 4vw;
  height: 7.5vh;
  position: absolute;
  top: 2.5vh;
  left: 26.5vw;
  z-index: 25;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings_button {
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
}
