.sidebar_container {
  width: 7.5vw;
  height: 45vh;
  position: absolute;
  top: 22.5vh;
  left: 91.5vw;
  z-index: 5;
  background-color: rgb(131, 131, 131);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar_button {
  height: 20%;
  width: 80%;
  text-align: center;
}
