.structure_visibility_container {
  width: 8vw;
  height: 35vh;
  position: absolute;
  top: 20vh;
  left: 91.5vw;
  z-index: 30;
  background-color: transparent;
}

.visibility_switch_container {
  width: 100%;
  height: 80%;
  background-color: transparent;
}

.visibility_type_container {
  width: 100%;
  height: 20%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

.type_switch_button {
  width: 30%;
  height: 40%;
  align-items: center;
  background-color: transparent;
  border: none;
}

.visibility_switch_element {
  background-color: transparent;
  width: 50%;
  height: 6vh;
  margin: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

.visibility_switch_button {
  width: 45%;
  height: 50%;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.visibility_switch_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
