.structure_visibility_container {
  width: 8vw;
  height: 30vh;
  position: absolute;
  top: 16.5vh;
  left: 91.5vw;
  z-index: 30;
  background-color: transparent;
}

.visibility_switch_element {
  background-color: transparent;
  width: 50%;
  height: 6vh;
  margin: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

.visibility_switch_button {
  width: 90%;
  height: 40%;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visibility_switch_button_enabled {
  background-color: black;
  color: #bbbbbb;
}

.visibility_switch_button_disabled {
  background-color: rgba(15, 16, 26, 0.4);
  color: #bbbbbb6a;
}

.visibility_switch_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
