.structure_visibility_container_description {
  position: absolute;
  width: 15vw;
  left: 84.75vw;
  height: 2.5vh;
  background-color: rgb(0, 0, 0);
  z-index: 30;
  font-size: 0.85vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
}

.structure_visibility_container_description_edit {
  top: 30vh;
}

.structure_visibility_container_description_raid {
  top: 17.5vh;
}

.structure_visibility_container {
  width: 15vw;
  height: 7.5vh;
  position: absolute;
  left: 84.75vw;
  z-index: 30;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 1.25vh;
}

.structure_visibility_container_edit {
  top: 32.5vh;
}

.structure_visibility_container_raid {
  top: 20vh;
}

.visibility_switch_row {
  margin-top: 0.5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 33%;
}

.visibility_switch_button {
  width: 22.5%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

.xray_switch_button {
  width: 22.5%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

.visibility_switch_button_enabled {
  background-color: black;
  color: #bbbbbb;
}

.visibility_switch_button_disabled {
  background-color: rgba(15, 16, 26, 0.4);
  color: #bbbbbb6a;
}
