.toolbar_container {
  width: 22vw;
  height: 15.25vh;
  position: absolute;
  left: 39vw;
  top: 0.5vh;
  z-index: 5;
  display: flex;
  flex-direction: row;
  transition: transform 0.1s ease-in-out;
  justify-content: space-around;
}

.toolbar_container_button {
  width: 31.5%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px black solid;
  box-sizing: border-box;
}

.toolbar_container_button_active {
  background-color: rgb(201, 201, 201);
}

.toolbar_container_button_inactive {
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
}

.toolbar_container_button_thumbnail {
  width: 100%;
  height: 85%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.toolbar_container_button_description {
  width: 100%;
  height: 15%;
  background-color: black;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
