.toolbar_container {
  width: 22vw;
  height: 16.75vh;
  position: absolute;
  left: 40vw;
  z-index: 5;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1vh;
}

.overview_container,
.edit_container,
.raid_container {
  height: 85%;
  width: 32%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5vh;
  margin: 0.5vh;
  border: solid black 1px;
}

.active {
  background-color: rgb(201, 201, 201);
}

.inactive {
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(2px);
}

.toolbar_description_container {
  width: 22vw;
  height: 2.25vh;
  position: absolute;
  left: 40vw;
  z-index: 5;
  top: 12.9%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.toolbar_description {
  background-color: black;
  width: 31.5%;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.9vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.raid_unavailable {
  position: absolute;
  width: 6.95%;
  height: 1.4%;
  top: 15.25%;
  left: 54.85%;
  background-color: black;
  z-index: 5;

  text-align: center;
  color: #bbbbbb;
  font-size: 0.55vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
