.toolbar {
  width: 35vw;
  height: 7.5vh;
  position: absolute;
  top: 2.5vh;
  left: 32.5vw;
  z-index: 5;
  background-color: rgb(131, 131, 131);
  display: flex;
  justify-content: space-around;
}

.toolbar_button {
  height: 90%;
  width: 30%;
  text-align: center;
}

.active {
  background-color: white;
}

.unactive {
  background-color: rgb(52, 52, 52);
}
