.transfer_models_data_main_container {
  position: absolute;
  width: 17.75vw;
  height: 34vh;
  background-color: rgba(15, 16, 26, 0.4);
  backdrop-filter: blur(3px);
  left: 60.75vw;
  top: 65.325vh;
  z-index: 50;
  border: 1px solid black;
}

.transfer_models_data_progress_bar_container {
  width: 100%;
  height: 6%;
  text-align: center;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer_models_data_progress_bar {
  width: 100%;
  height: 15%;
  border: none;
  appearance: none;
}

.transfer_models_data_progress_bar::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0);
}

.transfer_models_data_progress_bar::-webkit-progress-value {
  background-color: #ffcea6;
}

.transfer_models_data_progress_bar::-moz-progress-bar {
  background-color: #ffcea6;
}

.transfer_models_data_progress_bar_text {
  color: #bbbbbb;
  width: 100%;
  height: 85%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.transfer_models_data_type_buttons {
  height: 15%;
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.transfer_models_data_button {
  height: 80%;
  color: #000000;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  cursor: pointer;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer_models_data_button_enabled {
  background-color: #ffcea6;
  width: 60%;
}

.transfer_models_data_button_disabled {
  background-color: rgb(201, 201, 201);
  width: 30%;
}

.transfer_models_data_button:hover {
  background-color: #ffe3cb;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.transfer_models_data_content_container {
  height: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transfer_models_data_import_generate_base_button_container {
  height: 20%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer_models_data_import_generate_base_button {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75vh;
  text-align: center;
  color: #000000;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.transfer_models_data_import_generate_base_button_inactive {
  background-color: rgb(49, 49, 49);
  color: #bbbbbb;
}

.transfer_models_data_import_generate_base_button_disabled {
  background-color: rgb(201, 201, 201);
}

.transfer_models_data_import_generate_base_button_enabled {
  background-color: #ffcea6;
}

.transfer_models_data_import_generate_base_button:hover {
  background-color: #ffe3cb;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.transfer_models_data_code_container {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.transfer_models_data_code_container_button {
  width: 15%;
  height: 90%;
  background-color: rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #000000;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.transfer_models_data_code_input {
  width: 65%;
  height: 85%;
  background-color: rgb(201, 201, 201);
  border: none;
  text-align: center;
  color: #020202;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.transfer_models_data_file {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #bbbbbb;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.transfer_models_data_file_download_button {
  height: 40%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ffcea6;
  border-radius: 1vh;
}

.p-button:hover,
.transfer_models_data_code_container_button:hover,
.file_upload_container_remove_button:hover,
.transfer_models_data_file_download_button:hover {
  background-color: #ffe3cb;
  color: black;
  cursor: pointer;
}

.file_upload_container {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.p-button {
  border: 1px dashed #ffcea6;
  border-radius: 1vh;
  color: #bbbbbb;
  height: 4vh;
  width: 8.5vw;
}

.file_upload_container_text {
  width: 90%;
  height: 19%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 0.7vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.file_upload_container_remove_button {
  width: 40%;
  height: 20%;
  background-color: rgb(201, 201, 201);
  border: none;
  text-align: center;
  color: #000000;
  font-size: 0.8vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.file_upload_container_remove_button_disabled {
  background-color: rgb(49, 49, 49);
  color: #bbbbbb;
}

.fa-eraser,
.fa-copy {
  color: #151515;
}
