.version {
  width: 10vw;
  height: 2.5vh;
  position: absolute;
  top: 97.5vh;
  left: 1vw;
  z-index: 999;

  color: #bbbbbb;
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
